@import url('./confetti.css');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: ssky;
    src: url(./font/stratosskyengweb-black.woff);
    src: url(./font/stratosskyengweb-black.woff2);
}

body {
    font-family: ssky;
    background-color: #004980;
}


.game-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 15px 0;
}

.header__title {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 35px;
    
}

.game-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 500px;
    background: #C2F5FF;
    border-radius: 12px;
    margin-top: 160px;
}

.game-section__container {
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.game-menu__title {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #004980;
    font-size: 55px;
}

.game-menu__difficult-btn {
    width: 98px;
    height: 98px;
    font-family: 'ssky';
    justify-content: center;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;
color: #0080C1;
border: none;
border-radius: 12px;
background: #FFFFFF
 }


.game-menu__difficult-btn:not(:last-child) {
    margin-bottom: 10px;
}


.restart-btn {
    padding: 15px 20px;
    background-color: #ffffff;
    height: 35px;
    width: 200px;
    margin-top: 10px;
    font-size: 30px;
    font-family: ssky;
    color: #0080C1;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-menu__difficult-btn:hover {
    transform: scale(1.02);
    box-shadow: #004980 2px 2px 16px;
}

.game-table {
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    width: 50px;
    height: 100px;
    flex: 0 0 23%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95f51f;
    border-radius: 5px;
    transition: all 0.2s linear;
    margin: 1%;
}

.game-card i {
    font-size: 40px;
    display: none;
}

.game-card i+i {
    display: block;
}

.game-card.flip {
    background: #5dc6ff !important;
    transform: perspective(100px) rotateY(180deg);
}

.game-card.flip i {
    display: block;
}

.game-card.flip i+i {
    display: none;
}

.game-card.successfully {
    background: #76db82 !important;
}

.game-card:hover {
    background: #d1d1c0;
}
.main {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
    
    
}
